$background:rgb(240,240,240);
$text-light:$background;
$text-dark:rgb(50, 39, 39);
$base:rgb(69, 79, 69);
$primary:#8BC34A;
$secondary:#9CCC65;
$accent:#FF8A65;

body {
    background: $background;
    color:$text-dark;
    fill:$text-dark;
    stroke: $text-dark;
}

a{
    $color:inherit;
    color: $color;
    text-decoration: underline dotted;

    &:link,
    &:visited
    {color: $color;}
}

.cl-white, .cl-white--h:hover{
    $bg-color :white;
    $color:$text-dark;

    background: $bg-color;
    color: $color;
    fill:$color;
    stroke: $color;

    transition: all 0.3s;
}

.cl-base {
    $bg-color :$base;
    $color:$text-light;

    background: $bg-color;
    color: $color;
    fill:$color;
    stroke: $color;


    &--r {
        background: $background;
        $color:$bg-color;

        color: $color;
        fill:$color;
        stroke: $color;
    }

    &--h:hover {
        $bg-color :lighten($base,20%);
        $color:$text-light;

        background: $bg-color;
        color: $color;
        fill:$color;
        stroke: $color;
        transition: all 0.3s;

    }
}

.cl-primary{
    background: $primary;
    $color:$text-dark;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r {
        background: $background;
        $color:$primary;

        color: $color;
        fill:$color;
        stroke: $color;
    }

    &--h:hover{
      background: lighten($primary,20%);
      $color:$text-dark;

      color: $color;
      fill:$color;
      stroke: $color;
      transition: all 0.3s;
    }
}

.cl-secoundary{
    background: $secondary;
    $color:$text-dark;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r {
        background: $background;
        $color:$secondary;

        color: $color;
        fill:$color;
        stroke: $color;
    }

    &--h:hover {
      background: lighten($secondary, 20%);
      $color:$text-dark;

      color: $color;
      fill:$color;
      stroke: $color;
      transition: all 0.3s;
    }
}

.cl-accent{
    background: $accent;
    $color:$text-light;

    color: $color;
    fill:$color;
    stroke: $color;

    &--r {
        background: $background;
        $color:$accent;

        color: $color;
        fill:$color;
        stroke: $color;
    }

    &--h:hover{
      background: lighten($accent,20%);
      $color:$text-light;

      color: $color;
      fill:$color;
      stroke: $color;
      transition: all 0.3s;
    }
}
